<header>
    <h1>Inicio</h1>
</header>

<main>
    <section>
        <h3>Menú</h3>
        <ul>
            <li><a href="/api/auth/github">Iniciar Sesión desde GitHub</a></li>
            <li><a href="/profile">Ver perfil</a></li>
        </ul>
        <a href="/logout"><button>Cerrar Sesión</button></a>
    </section>
</main>